<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumWork">
	<listeners>
		<listener class-name="listner.TestListner" />
	</listeners>
	<test name="Testing Home Page">
		<classes>
			<class name="uitest.HomePage"></class>
		</classes>
	</test> <!-- Test -->
	<test name="Testing API Page">
		<classes>
			<class name="apitest.APITest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->